.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.s2-annotate-app {
	position: absolute;
	display: block;
	font-size: 18px;
	margin: 5px 0px 0px 5px;
	color: #fff;
	transition: all 0.15s ease-out;
}

.s2-annotate-app .title {
	font-weight: 600;
	letter-spacing: 0.03em;
}

.s2-annotate-app[data-hidden="true"],
.s2-annotate-app [data-hidden="true"] {
	visibility: hidden;
	opacity: 0;
}

.s2-annotate-btn {
    display: block;
    z-index: 999;
    cursor: pointer;
    background: #1c2427;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    width: 18px;
    text-align: center;
    border-radius: 18px;
}

.s2-annotate-form,
.s2-annotate-app .annotations-panel {
	min-width: 250px;
	color: #607D8B;
    background: #e6e6fa;
}

.s2-annotate-form .form-header__close,
.s2-annotate-app .annotations-panel .annotation-selector__prev,
.s2-annotate-app .annotations-panel .annotation-selector__next {
	background: none;
	color: inherit;
}

.s2-annotate-form {
    text-align: center;
    padding: 8px;
    border-radius: 3px;
}
.s2-annotate-form .form-header {
	margin-bottom: 7px;
}
.s2-annotate-form .form-header__title,
.s2-annotate-form .form-header__close {
	display: inline-block;
}
.s2-annotate-form .form-header__title {
    text-transform: uppercase;
    float: left;
}
.s2-annotate-form .form-header__close {
	float: right;
}
.s2-annotate-form .form-content__annotation {
	padding: 5px;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 5px;
	color: #607d8b;
	outline: none;
	background: #f3f3f3;
	border: none;
}
.s2-annotate-form .form-content__create {
    width: 100%;
    background: #607D8B;
    letter-spacing: 0.1em;
    color: #adbbc3;
    padding: 5px;
}

.s2-annotate-app .annotations-panel {
	padding: 5px;
	border-radius: 3px;
}
.s2-annotate-app .annotations-panel .header {
	margin-bottom: 7px;
	padding: 5px 0px;
}
.s2-annotate-app .annotations-panel .annotation-selector,
.s2-annotate-app .annotations-panel .header-close {
	display: inline-block;
}
.s2-annotate-app .annotations-panel .header-close {
	float: right;
	background: none;
	color: #607D8B;
}

.s2-annotate-app .annotations-panel .annotation-selector .annotation-selector__prev,
.s2-annotate-app .annotations-panel .annotation-selector .annotation-selector__next {
    padding: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: background 0.2s ease-out;
}
.s2-annotate-app .annotations-panel .annotation-selector .annotation-selector__prev:hover,
.s2-annotate-app .annotations-panel .annotation-selector .annotation-selector__next:hover {
    background: #ceceff;
}

.s2-annotate-app .annotation .annotation__text-selection {
	margin: 10px 0;
}

.s2-annotate-app .annotation .content__controls {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
    padding: 5px;
}

.s2-annotate-app .annotation .content__controls .controls__edit-annotation,
.s2-annotate-app .annotation .content__controls .controls__delete-annotation {
	background: none;
    border-radius: 22px;
    padding: 0;
    width: 22px;
    height: 22px;
    transition: background 0.2s ease-out;
}
.s2-annotate-app .annotation .content__controls .controls__edit-annotation:hover,
.s2-annotate-app .annotation .content__controls .controls__delete-annotation:hover {
    background: #FFEB3B;
}

.s2-annotate-app .annotation .content__controls .controls__edit-annotation {
	margin-right: 3px;
}

.s2-annotate-app .annotation .content__text {
	outline: none;
    word-wrap: break-word;
}

.s2-annotate-app .annotation .text-selection__text {
    background: #ceceff;
    padding: 5px;
    border-radius: 3px;
    color: #607D8B;
}

.s2-annotate-app .annotation .annotation-content {
    position: relative;
    min-height: 100px;
    padding: 5px;
    background: #f3f3f3;
}

.s2-annotate-app .annotation .annotation__desc {
	margin-top: 10px;
}
.s2-annotate-app .annotation .annotation__desc .desc__icon {
	margin-right: 5px;
}

.s2-annotate-app .annotation .annotation__desc .desc__icon,
.s2-annotate-app .annotation .annotation__desc .desc__text {
	vertical-align: middle;
	font-size: 0.85em;
}

.annotation-date-created,
.annotation-date-edited,
.annotation-author {
	margin: 3px 0;
}

.s2-annotate-annotation {
	background-color: rgba(152, 251, 152, 0.3);
	cursor: pointer;
	transition: background 0.3s ease-out;
}
.s2-annotate-annotation[data-onhover="true"] {
	background-color: rgba(152, 251, 152, 0.5);
}

.s2-annotate-app .btn {
	outline: none;
	border: none;
	cursor: pointer;
	font-size: inherit;
	border-radius: 3px;
}

.zoom-in-enter, .zoom-in-leave {
	transform: scale3d(.3, .3, .3);
	opacity: 0;
}
.zoom-in-enter-active, .zoom-in-leave-active {
	transition: transform .15s ease-in-out, opacity 0.15s ease-in-out;
}

.fade-down-enter, .fade-down-leave {
	opacity: 0;
	transform: translate3d(0, -100%, 0);
}
.fade-down-enter-active, .fade-down-leave-active {
	transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
